<app-top-bar></app-top-bar>

<router-outlet></router-outlet>


<!--{
  "products": [
    {
      "id": 1,
      "name": "бананы",
      "price": "1050"
    },
    {
      "id": 2,
      "name": "бананы",
      "price": "1060"
    },
    {
      "id": 3,
      "name": "бананы",
      "price": "1050"
    },
    {
      "id": 4,
      "name": "бананы",
      "price": "1060"
    },
    {
      "id": 5,
      "name": "бананы",
      "price": "1050"
    },
    {
      "id": 6,
      "name": "бананы",
      "price": "1060"
    },
    {
      "id": 7,
      "name": "бананы",
      "price": "1050"
    },
    {
      "id": 8,
      "name": "бананы",
      "price": "1060"
    },
    {
      "id": 9,
      "name": "бананы",
      "price": "1050"
    },
    {
      "id": 10,
      "name": "бананы",
      "price": "1060"
    },
    {
      "id": 11,
      "name": "бананы",
      "price": "1050"
    },
    {
      "id": 12,
      "name": "бананы",
      "price": "1060"
    },
    {
      "id": 13,
      "name": "бананы",
      "price": "1050"
    },
    {
      "id": 14,
      "name": "бананы",
      "price": "1060"
    },
    {
      "id": 15,
      "name": "бананы",
      "price": "1050"
    },
    {
      "id": 16,
      "name": "бананы",
      "price": "1060"
    }
  ]
}-->